<!DOCTYPE html>

<html>
  <head>
    <title>Reddit Saved Links</title>
  </head>
  <body>
      <h1>{{ theUser.name }}'s saved links</h1>
      <hr>
      <div class="maincol">
        <div id="getdata">
          <button id="pull-reddit-btn" onclick="refreshDB();" type="button" name="pull-reddit">Refresh DB</button
          <div id="pull-reddit-msg">
            ...
          </div>
        </div>
        <div id="msgs" class="msgs">
        </div>
        <div id="mainlisting">

          <div class="main-listing">
              <div class="link-container">
                <table>
                  <thead>
                    <tr class="table-header">
                      <td>Subreddit</td>
                      <td>Title</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% for link in savedLinks %}
                    <tr class="table-row">
                      <td>{{ link.subreddit }}</td>
                      <td><a href="{{ link.url }}">{{ link.title }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>

        </div>
      </div>
  </body>
  <script src="{{ url_for('static', filename='nano.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='reddit_savedlink.js') }}" type="text/javascript"></script>

</html>
