{% macro render(savedLinks, nothumb) -%}
<div class="main-listing">
  <div class="link-container">
    {% for link in savedLinks %}
      <a href="{{ link.url }}">
        <div class="savedlink-card">
          <div class="savedlink-thumb-container">
            {% if link.thumbnail is equalto nothumb %}
            <img src="http://placehold.it/420?text=no+thumb" alt="{{ link.title }}" class="savedlink-thumb">
            {% elif link.thumbnail is equalto 'default' %}
            <img src="http://placehold.it/420?text=default" alt="{{ link.title }}" class="savedlink-thumb">
            {% elif link.thumbnail is equalto 'self' %}
            <img src="http://placehold.it/420?text=self" alt="{{ link.title }}" class="savedlink-thumb">
            {% else %}
            <img src="{{ link.thumbnail }}" alt="{{ link.title }}" class="savedlink-thumb">
            {% endif %}
          </div> <!-- .savedlink-thumb-container -->
          <div class="savedlink-info">
            <span>{{ link.subreddit }}</span>
            <span>{{ link.title }}</span>
          </div> <!-- .savedlink-title -->
        </div> <!-- .savedlink-card -->
      </a>
    {% endfor %}
    <div class="clear"/>
  </div> <!-- .link-container -->
</div> <!-- .main-listing -->
{%- endmacro %}
