{% macro render(savedLinks, nothumb) -%}
<div class="main-listing">
  <input type="search" value="" placeholder="">
  <ul>
    {% for link in savedLinks %}
      <li id="link-{{ loop.index }}">
          <div class="savedlink-row">
              {% if link.thumbnail is equalto nothumb %}
              <div class="savedlink-thumb-container" style="background-image: url(http://placehold.it/175?text=no+thumb)"></div>
              {% elif link.thumbnail is equalto 'default' %}
              <div class="savedlink-thumb-container" style="background-image: url(http://placehold.it/175?text=default)"></div>
              {% elif link.thumbnail is equalto 'self' %}
              <div class="savedlink-thumb-container" style="background-image: url(http://placehold.it/175?text=self)"></div>
              {% else %}
              <div class="savedlink-thumb-container" style="background-image: url({{ link.thumbnail }})"></div>
              {% endif %}
            <div id="link-info-{{ loop.index }}" class="savedlink-info savedlink-url">
              <a href="{{ link.url }}">
                {{ link.subreddit }}: {{ link.title }}
              </a>
            </div> <!-- .savedlink-title -->
            <div class="clear"></div>
          </div> <!-- .savedlink-row -->
      </li>
    {% endfor %}
    <div class="clear"/>
    <div class="main-listing__notfound"><p>No matches were found.</p></div>
  </ul> <!-- .link-container -->
</div> <!-- .main-listing -->
{%- endmacro %}
