{% macro render(savedLinks, nothumb) -%}
<div class="main-listing">
  <div class="link-container">
    {% for link in savedLinks %}
      <a href="{{ link.url }}">
        <div class="savedlink-card">
          {% if link.thumbnail is equalto nothumb %}
          <img src="http://placehold.it/350x150" alt="{{ link.title }}" class="savedlink-thumb">
          {% else %}
          <img src="{{ link.thumbnail }}" alt="{{ link.title }}" class="savedlink-thumb">
          {% endif %}
          <div class="savedlink-title">
            <span>{{ link.subreddit }}</span>
            <span>{{ link.title }}</span>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{%- endmacro %}
