{% macro render(savedLinks) -%}
<div class="main-listing">
  <div class="link-container">
    <table>
      <thead>
        <tr class="table-header">
          <td>Subreddit</td>
          <td>Title</td>
        </tr>
      </thead>
      <tbody>
      {% for link in savedLinks %}
        <tr class="table-row">
          <td>{{ link.subreddit }}</td>
          <td><a href="{{ link.url }}">{{ link.title }}</a></td>
          <td>{{ link.thumbnail }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{%- endmacro %}
